@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/*
GENERAL STYLES
*/
main {
    width: 60%;
    margin: 0 auto;
}

/*
TYPOGRAPHY
*/
* {
    font-family: 'Rubik', sans-serif;;
    color: rgb(236, 239, 244);
}

h1 {
    font-size: 40px;
    letter-spacing: 2.5px;
}

.gameboard-title {
    font-size: 28px;
}

.gameboard-message {
    font-size: 18px;
}

.score {
    font-size: 20px;
}

footer p {
    font-size: 20px;
}
/*
BACKGROUND COLOURS
*/
html {
    background-color: rgb(36, 41, 51);
}

header {
   background-color: rgb(46, 52, 64);

}

/*
IMAGES
*/
.choice-image {
    width: 90%;
    padding: 20%;
    border: 1px solid rgb(236, 239, 244);
    border-radius: 10px;
    margin: 5%;
}

.button img {
    margin: 0 auto;
    padding: 20%;
}
/*
HEADER
*/
header {
    margin: 0 auto;
    padding: 2.5%;
}

.header-wrapper {
    text-align: center;
}

/*
GAMEBOARD
*/
.gameboard {
    text-align: center;
    padding-bottom: 5%;
}

.gameboard-title {
    padding: 4% 0 1% 0;
}

.gameboard-message {
    padding-bottom: 3%;
}

.players-choices {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.user-choice, .computer-choice {
    width: 30%;
}

/*
USER BUTTONS
*/
.user-buttons {
    width: 60%;
    margin: 0 auto;
}

.buttons-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.button {
    width: 25%;
    height: 25%;
    border-radius: 10px;
    background-color: #5E81AC;
}

.button :hover {
    background-color: #81A1C1;
    border-radius: 10px;
    cursor: pointer;
}

/*
END SCREEN
*/
.end-screen {
    width: 60%;
    height: 505px;
    margin: 0 auto;
    display: none;
}

.end-screen-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.end-message {
    font-size: 42px;
    margin-bottom: 30px;
}

.end-screen-container button {
    width: 60%;
    height: 60px;
    background-color: #5E81AC;
    border-radius: 10px;
    border: none;
    font-size: 25px;
}

.end-screen-container button:hover {
    background-color: #81A1C1;
    cursor: pointer;
}

/*
FOOTER
*/
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}